/* common.css */
  .app {
      position: relative;
      width: 100%;
      height: 100%;
    font-size: 1.4rem;
  }
  .app-contents {
    height: calc(100% - 64px - 102px);
  }
  h1 {
      text-align: center;
      color: #311B92;
      font-weight: 500;
  }
  h3 {
    color: #311B92;
    font-weight: 500;
}
  
  /*--- LINK ---*/
  a {
    color: #364f6b;
    text-decoration: none;
  }
  a:hover {
    color: #673AB7;
  }
  /*--- HEADER ---*/
  .page-header {
    font-size: 25px;
      font-weight: 500;
      color: #311B92;
  }
  
  /*--- FORM ---*/
  .form-container {
    display: flex;
    align-items: center;
  }
  .form-wrapper {
    background: #EDE7F6;
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 15px 15px;
    margin-bottom: 20px;
    width: 100%;
    margin:auto;
  }
  .form {
      width: 80%;
      height: 100%;
  }
  .form .validation-text {
      margin-top: -0.5rem;
      margin-bottom: 0.5rem;
      font-size: 1rem;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
  }
  .form label {
    width: 20%;
    display: inline-block;
    margin-bottom: 0.5rem;    
    margin-right: 1rem;
    color: #311B92;
    font-size: 120%;
    text-align: right;
  }
  .form input,
  .form textarea {
    font-family: inherit;
    font-size: 100%;
    display: inline-block;
    width: 350px;
    border: 1px solid #EDE7F6;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    padding: 0.5rem 0.75rem;
    margin-bottom: 1rem;
  }
  .form input.valid {
    border: 1px solid #21b314;
  }
  .form input.invalid {
    border: 1px solid red;
  }
  .form div:nth-last-child(2) {
    margin-bottom: 0.5rem;
  }
  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .log {
    color: #ff4057;
    font-size: 1rem;
    text-align: center;
  }
  .warning {
    color: #ff4057;
  }
  
  /*--- LIST ---*/
  .list-container {
      padding-top: 13px;
  }
  .list-container.sticky {
      margin-top: 76px;
  }
  .list-container > ul {
      display: flex;
      flex-wrap: wrap;
  }
  .list-container > ul > li {
      position: relative;
      flex-grow: 1;
      width: 320px;
      height: 250px;
      margin: 7px;
      padding: 10px 20px;
      background: white;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
      border-radius: 3px;
  }
  .post-title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 0.5rem;
  }
  .post-contents {
      height: 160px;
      overflow-y: auto;
      font-size: 18px;
  }
  .post-time {
      position: absolute;
      bottom: 4px;
      right: 5px;
      font-size: 14px;
      color: #9e9e9e;
  }
  .icon {
      font-size: 1.3rem;
      cursor: pointer;
      color: #364f6b;
      padding-right: 0.4rem;
  }
  .icon:hover {
      color: #3fc1c9;
  }
  .icon:active {
      color: #fc5185;
  }
  .ion-md-create {
      padding-left: 0.1rem;
  }
  .create-button {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: fixed;
      right: 20px;
      bottom: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
      background: #fe9616;
      border: 3px solid white;
  }

  .button {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #b39ddb;
  }