/* common.css */
  h1 {
      text-align: center;
      color: #311B92;
      font-weight: 500;
  }
  h3 {
    color: #311B92;
    font-weight: 500;
}
  
  /*--- LINK ---*/
  a {
    color: #364f6b;
    text-decoration: none;
  }
  a:hover {
    color: #673AB7;
  }

  /*--- HEADER ---*/
  .page-header {
    font-size: 25px;
      font-weight: 500;
      color: #311B92;
  }
  
  /*--- FORM ---*/
  .form-wrapper {
    background: #EDE7F6;
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 15px 15px;
    margin-bottom: 20px;
    width: 100%;
    margin:auto;
    margin-bottom: 10px;
    border: dotted 1px #D1C4E9;
  }
  .form .validation-text {
      margin-top: -0.5rem;
      margin-bottom: 0.5rem;
      font-size: 1rem;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
  }
  .form label {
    width: 50px;
    display: inline-block;
    margin-bottom: 0.5rem;    
    margin-right: 1rem;
    margin-left: 1rem;
    color: #311B92;
    font-size: 110%;
    text-align: right;
  }
  .form input{
    font-family: inherit;
    font-size: 100%;
    display: inline-block;
    border: 1px solid #EDE7F6;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    padding: 0.5rem 0.75rem;
    margin-bottom: 1rem;
  }
  .form textarea {
    font-family: inherit;
    font-size: 100%;
    display: inline-block;
    width: 70%;
    border: 1px solid #EDE7F6;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    padding: 0.5rem 0.75rem;
    margin-bottom: 1rem;
  }
  .form input.valid {
    border: 1px solid #21b314;
  }
  .form input.invalid {
    border: 1px solid red;
  }
  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .log {
    color: #ff4057;
    font-size: 1rem;
    text-align: center;
  }
  .warning {
    color: #ff4057;
  }
  
    /*--- BUTTON ---*/
  .create-button {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: fixed;
      right: 20px;
      bottom: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
      background: #fe9616;
      border: 3px solid white;
  }

  .button {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #b39ddb;
  }